<!DOCTYPE html>
<html>
<head>
  <title>Jackpot</title>
  <%= stylesheet_link_tag    "jackpot/application" %>
  <%= javascript_include_tag "jackpot/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
