%h1 Editing customer

#form-basic-information
  %h2 Basic information
  = render 'form'

#credit-card-information
  = render "credit_card_form"

= link_to 'Show', @customer
\|
= link_to 'Back', customers_path
