%h1 Payments 

- if @payments.present? 
  %table#latest-payments.table.table-striped
    %thead
      %tr
        %th Customer Email
        %th Amount
        %th Created at
    %tbody
      - @payments.each do |payment|
        %tr 
          %td.customer-email= payment.customer_email
          %td.amount=         number_to_currency(payment.amount)
          %td.created_at=     distance_of_time_in_words_to_now(payment.created_at)

