%h1 Payments 

- if @payments.present? 
  #latest-payments
    - @payments.each do |payment|
      %p.customer-name= payment.customer_name
      %p.amount=        number_to_currency(payment.amount)
      %p.date_created=  distance_of_time_in_words_to_now(payment.created_at)

